extends layout

block content
  h1= title
  p Welcome to #[em Login test], a very basic login and register app

  p From here you can go to one of the next pages:

  p
    a(href=Login_Page) Login
  p 
    a(href=Register_Page) Register